/*  cyan: #00ffec
    purple: #ff00e7
    black: #111111
    white: #f3f3f3
    white2: #0C0000;
    font-family : Bahnschrift;
*/
@import url('https://fonts.cdnfonts.com/css/bahnschrift');
*{
    margin: 0px;
    box-sizing: border-box;
    
}
.cls-1,.cls-4 {
    fill: none;
}
.cls-2 {
    fill: #03ffff;
}
.cls-3 {
    fill: #fff;
}
.cls-4 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
body{
    background-color: #111;
    overflow-x: hidden;
}
.fixed_nav_bar{
    width: 100vw;
    height: 8vh;
    position: fixed;
    z-index: 100;
    top: 0px;
}
.navbar{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60%;
}
.items{
    display: flex;
    justify-content: space-between;
    width: 20%;
    gap:25%;
}
.items_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}
.burger{
    display: flex;
    width:20%;
    justify-content: center;
    cursor: pointer; 
}
.home_parent{
    margin-top: 8vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.home_text{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 30px;
}
.home_text h1{
    display: flex;
    color: #f3f3f3;
    font-family : 'Bahnschrift';
    font-weight: normal;
    width: 100%;
    height: 100%;
    font-size: 18vw;
    transform: scale(1,1.1);
    transition: transform 1ms ease;    
}
.home_text h1:first-child{
    animation: 1s textenter-right ease;
}
.home_text h1:last-child{
    justify-content: flex-end;
    z-index: 20;
    animation: 1s textenter-left ease;
}
.home_image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.home_image img:first-child{
    position: absolute;
    width: 40vw;
    top: 20vw;
    z-index: 19;
    animation: 1s slow-move-left ease;
}
.home_image img:last-child{
    position:absolute;
    right: 0px;
    width: 32vw;
    animation: 1s slow-move-right ease;
}
.webdev_baner{
    display: none;
    justify-content: center;
    margin-top: 3vw;
    height: 8vw;
    align-items: center;
}
.banner_text{
    background-color: #f3f3f3;
    z-index: 50;
    padding: 0px 2vw;
    animation: 2s pop-up-and-moveright ease;
}
.banner_text h1{
    display: flex;
    color: #111;
    font-family : 'Bahnschrift';
    font-weight: normal;
    width: 100%;
    height: 100%;
    font-size: 8vw;
    transform: scale(1,1.1);
    /* animation: 1s pop-up ease; */
}
.menu{
    position: fixed;
    border-radius: 30px;
    background-color: #f3f3f3;
    top: 6vh;
    right: 4vw;
    width: 0vw;
    height: 0vh;
    justify-content: center;
    transition: height .2s,width .4s;
    z-index: 100;
}
.menu_items{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    padding:0px;
    flex-direction: column;
    gap: 2vh;
    transform: scale(0,0);
    transition: transform .7s ease;
}
.menu li{
    list-style: none;
    display: none;
}
.menu a{
    text-decoration: none;
    color: #111;
    font-family : 'Bahnschrift';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    transform: scale(1,1.1);
}
.hhh{
    height:5000px;

}
/* menu active*/
.menu_active {
    display: block;
    height: 15vh;
    width: 15vw;
}
.menu_active ul{
    display: flex;
    transform: scale(1,1) ;
}
.menu_active li{
    display: block;
}
/*Media querry*/
@media screen and (max-width:1280px) {  
    .items{
        width: 23%;
        gap:20%;
    }
    .home_image img:first-child{
        top: 22vw;
    }
}
@media screen and (max-width:800px) {
    .items{
        position: absolute;
        right: 0px;
        top:0px;
        height: 100vh;
        width: 10%;
        flex-direction: column;
        justify-content: space-around;
    }
    .items_nav{
        position: absolute;
        flex-direction: column;
        width:100%;
        align-items: center;
        z-index: 100;
    }
    .items img{
        margin: 20px 0px;
        height: 25px;
    }
    .burger{
        height: 100vh;
    }
    .home_image img:first-child{
        top: 23vw;
    }
}
@keyframes textenter-right {
    0%{
        transform: translateX(150%) scale(1,1.1);
    }
    100%{
        transform: translateX(0%) scale(1,1.1);
    }
}
@keyframes textenter-left {
    0%{
        transform: translateX(-150%) scale(1,1.1);
    }
    100%{
        transform: translateX(0%) scale(1,1.1);
    }
}
@keyframes slow-move-left {
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slow-move-right {
    0%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes pop-up {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes pop-up-and-moveright {
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes anime-list{
    0%{

    }
    100%{

    }
}
